/static/download/temp/*
!/static/download/temp/keep/

/static/download/modified/*
!/static/download/modified/keep/

/static/download/original/*
!/static/download/original/keep/

/db/images/*
!/db/images/keep/

__pycache__/

*.db

