/static/download/temp/*
!/static/download/temp/keep/

/static/download/modified/*
!/static/download/modified/keep/

/static/download/original/*
!/static/download/original/keep/
__pycache__/

/db/main.db
db/main.db
