click==8.0
Flask==2.2.0
itsdangerous==2.0
Jinja2==3.0
MarkupSafe==2.1.1
Werkzeug==2.2.0
Flask-WTF==1.0.0
numpy==1.22.3
Pillow==9.2
scikit-image==0.18.3
scipy==1.11.1
opencv-python==4.8.0.74
SQLAlchemy==1.4.23
Flask-SQLAlchemy==3.0.0
bcrypt==4.0.1
email_validator==2.0.0.post2
