{% extends '/base.html' %}

{% block content%}
    <div class="mb-3 d-flex justify-content-center form_part">
        <!-- Form where user gives image-->
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data" >
            {{form.csrf_token}}

            <!-- Choose file -->
            {{form.cover.label}}<br/>{{form.cover}}

            <!-- Showing errors (they will be used if user bypass html validation) -->
            <ul>
                {% for error in form.cover.errors %}

                {% endfor %}
            </ul>

            <!-- Submit button -->
            <input class="btn btn-outline-primary" type="submit" value="Go!">
        </form>
    </div>

    <!--Script for that add link to profile-->
    <script>
        document.getElementById('profile_link').href = '{{ url_for('profile', user_nick=session.get('user')) }}';
    </script>
{% endblock%}