#wrapper{
    display:flex;
    justify-content: center;

    background-color: #f6f6f6;
}

/* Style to content of user profile */
#profile_content{
    display:flex;
    flex-direction: column;

    background-color: white;

    width:70%;
    height:900px;
}

/* Style to container of profile picture */
#profile_picture_container{
    margin: 8px;
    margin-bottom: 0px;

    position: relative;

    height: 256px;
    width: 256px;
}

/* Making image darker if mouse is profile pic */
#profile_picture_container:hover #profile_picture{
    filter: brightness(0.8);
}
/* Showing edit photo button */
#profile_picture_container:hover #change_profile_button {
    display: flex;
}


/* Style to profile pic */
#profile_picture{
    border: 2px solid black;

    height: 256px;
    width: 256px;
}

/* Style to div with button to change profile picture */
#change_profile_button{
    position: absolute;

    display: none;
    justify-content:center;

    top: Calc(50% - 25px);
    left: Calc(50% - 25px);

    z-index: 3;

    width: 50px;
    height: 50px;
}

/* Change profile picture button */
.change_button_img{
    width:50px;
    height:50px;
}


/* Style to nick displaying bellow profile picture */
#nick_display{
    margin: 8px;
    margin-top: 0px;

    border: 2px solid black;
    border-top: none;

    height: 30px;
    width: 256px;
}

/* Style to nick text */
#span_nick{
    display: flex;
    justify-content: center;
}

/* Style to container that have images made by user*/
#pictures_container{
    display:flex;

    margin-top: 2%;
    margin-left:5%;
    margin-right:5%;

    background-color: #e9e9e9;

    width: 90%;
    height: 500px;
}

/* Style to picture and name in history in profile */
.history_profile{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

/* Style to pictures displaying in history in profile */
.normal_img{
    width: 100px;
    height: 100px;
}

/* Class that make image darker
Added to picture in history that user have mouse on*/
.dark_filter{
    filter: brightness(0.8);
}

/* Style for grid that contains all picture saved on user dir */
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;
    gap: 2px;

    width: 100%;
}

/* Style to centralize text below img */
.history_img_name{
    display:flex;
    justify-content: center;
}

/* Style to container that have action buttons and picture history */
.image_history_container{
    position:relative;
}

/* Style to buttons that have funct with picture history */
.buttons_history{
    position: absolute;
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 2px solid black;
    border-radius: 15px;

    visibility: hidden;

    z-index: 3;

    padding: 10px;
    top: Calc(50% - 45px);
    left: Calc(50% - 22.5px);
}

.margin_button{
    margin-bottom: 15px;
}

.visible_obj{
    visibility: visible;
}

/* Style to footer elements */
#footer_buttons{
    background-color: #f6f6f6;
}

#button_sack{
    background-color: #f6f6f6;
}

/* Styles for window to change profile picture*/
/* Style for div that disable rest of page*/
#profile_change_window_bg{
    position: absolute;
    background: rgba(0,0,0,0.2);

    z-index: 2;

    width: 100%;
    height: 110%;
}

/* Style for window with file form */
#profile_change_window{
    display: flex;
    flex-direction:row;

    justify-content: center;
    align-items: center;

    position: absolute;
    background: #707070;

    border: solid white 3px;
    border-radius: 5px;

    /* Making obj display on center */
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);

    z-index: 3;

    width: 50%;
    height: 50%;

}

/* Style for inscription about acces to images */
#info_access{
    margin: auto;
}