/* scroll */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px white;
  border-radius: 100px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCE0D6;

  border: solid 3px transparent;
  border-radius: 100px;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #91a199;

  background-clip: padding-box;
  border-radius: 100px;
}
/*colors of button*/
#color_id0:hover{background: #9c31bd; border-color:#9c31bd;}
#color_id1:hover{background: #eb98d7; border-color:#eb98d7;}
#color_id2:hover{background: #cf0e27; border-color:#cf0e27;}
#color_id3:hover{background: #fa8c16; border-color:#fa8c16;}
#color_id4:hover{background: #ebf227; border-color:#ebf227;}
#color_id5:hover{background: #28c916; border-color:#28c916;}
#color_id6:hover{background: #1ea1e3; border-color:#1ea1e3;}
#color_id7:hover{background: #c0cbd1; border-color:#c0cbd1;}

.color_white{color:white;}

.download_panel{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
}





