*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

/* style to buttons (motive choose) above header */
.motive_button{
    height: 35px;
    width: 100px;

    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}


.button_list{
    /* sizing parameters*/
    border: 2px solid #CCE0D6;
    border-radius: 12px;
    padding: 5px;

    list-style-type: none;

    /* for scrolling option */
    max-height: 385px;
    overflow: hidden;
    overflow-y: scroll;
}


.width-200{
  width: 200px;
}


/*colors of button*/
#color_id0:hover{background: #9c31bd; border-color:#9c31bd;}
#color_id1:hover{background: #eb98d7; border-color:#eb98d7;}
#color_id2:hover{background: #cf0e27; border-color:#cf0e27;}
#color_id3:hover{background: #fa8c16; border-color:#fa8c16;}
#color_id4:hover{background: #ebf227; border-color:#ebf227;}
#color_id5:hover{background: #28c916; border-color:#28c916;}
#color_id6:hover{background: #1ea1e3; border-color:#1ea1e3;}
#color_id7:hover{background: #c0cbd1; border-color:#c0cbd1;}
.color_white{color:white;}


/* scroll */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px white;
  border-radius: 100px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCE0D6;

  border: solid 3px transparent;
  border-radius: 100px;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #91a199;

  background-clip: padding-box;
  border-radius: 100px;
}


/* styles to buttons sack (above header) */
#button_sack{
    margin-left: 45px;
}


/* styles to header */
#intro-example{
    height: 150px;
}
@media (min-width: 992px) {
    #intro-example {
        height: 300px;
    }
}
/* style to header mask*/
#mask_header{
  background-color: rgba(0, 100, 50, 0.2);
}



/* style to form */
#form_part{
    min-height:60vh;
}


/* style to download button in menu above main img*/
#download_button{
    width: 100px;
    margin-left:50px;
    margin-right:50px;
}

/* style to img that is displaying on */
#img_main{
    height:512px;

    padding:10px;
    border: 5px solid;
    margin: 10px;
}


/* style to item_tool */
#toolbox{
    width: 600px;
    height: 30px;

    display: flex;
    flex-direction: row;

    border: 3px solid #c3d9ce;
    border-radius: 4px;
    background-color: #91a199;
}







