*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}



/* style that to obj that contains all tools with specific category */
.image_change_tools{
    height: 450px;

    display: flex;
    flex-direction: column;
    align-items:center;
}

/* style for icons to enter modes (draw etc.) */
.enter_mode_icon{
    height: 50px;
    width: 50px;
}


/* style to list of buttons (for both)*/
.button_list{
    /* sizing parameters*/
    border: 2px solid #CCE0D6;
    border-radius: 12px;

    padding: 5px;
    align-self: flex-end;
    list-style-type: none;

    /* for scrolling option */
    max-height: 385px;
    overflow: hidden;
    overflow-y: scroll;
}


/* style to buttons (motive choose) above footer */
.motive_button{
    height: 35px;
    width: 100px;

    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

/* style to form */
.form_part{
    min-height:60vh;
}


/* Style to boxes on right and left from image */
.side_box{
    width: 10%;
    height: 532px;
}


/* Style to class to slowly show element */
.fade-in{
    animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Style to class to slowly hide element */
.fade-out{
    animation: fadeOut 3s;
}
@keyframes fadeOut{
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.width-200{
  width: 200px;
}

/*colors of button*/
#colorId0:hover{background: #9c31bd; border-color:#9c31bd;}
#colorId1:hover{background: #eb98d7; border-color:#eb98d7;}
#colorId2:hover{background: #cf0e27; border-color:#cf0e27;}
#colorId3:hover{background: #fa8c16; border-color:#fa8c16;}
#colorId4:hover{background: #ebf227; border-color:#ebf227;}
#colorId5:hover{background: #28c916; border-color:#28c916;}
#colorId6:hover{background: #1ea1e3; border-color:#1ea1e3;}
#colorId7:hover{background: #c0cbd1; border-color:#c0cbd1;}
.color_white{color:white;}


/* scroll */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px white;
  border-radius: 100px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCE0D6;

  border: solid 3px transparent;
  border-radius: 100px;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #91a199;

  background-clip: padding-box;
  border-radius: 100px;
}


/* styles to header */
#intro-example{
    height: 150px;
}
@media (min-width: 992px) {
    #intro-example {
        height: 300px;
    }
}
/* style to header mask*/
#mask_header{
  background-color: rgba(0, 100, 50, 0.2);
}


/* Style to download button in menu above main img*/
#download_button{
    width: 100px;
    margin-left:50px;
    margin-right:50px;
}

/* Style to img that is displaying on */
#img_main{
    height:512px;

    padding:10px;
    border: 5px solid;
    margin: 10px;
}

/* Style to area with list of saved images */
#history_box{

}

#history_button{
    position: absolute;

    background-color: white;
    border: none;
}

#history_content{
    background-color: #E8E8E8;

    width: 100%;
    height: 100%;

    visibility: hidden;
}

#history_close{
    border: none;
    background-color: transparent;
    float: right;
}

/* Style for button sack (contains light/dark method )*/
#button_sack{
    background-color: white;

}









