{% from 'macros.html' import display_table_column  %}
{% include 'work_page.html' %}
<!--Bootstrap modal, it will show up if user will click download button-->
<div id="downloadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Title of modal -->
                <h5 id="exampleModalLabel" class="modal-title">Download Confirmation</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="cancel" aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="downloadForm" action="{{ url_for('download',file_name=file_name) }}" method="POST">
                <div class="modal-body">
                <h2>Choose format of file</h2><br>

                <!-- Data about data formats showed in table
                First argument is array with columns names
                Second argument is array with arrays that contains data about extension
                (name, isVector, file_size[num_of_extension])-->
                {{ display_table_column(['Format', 'Size', 'Vector?', 'Pick format'],
                    [ ['JPG','NO', file_sizes[0]], ['PNG','YES', file_sizes[1]],
                    ['TIFF','NO', file_sizes[2]], ['GIF','NO', file_sizes[3]] ])}}
            </div>
                <!-- Buttons of modal -->
                <div class="modal-footer">
                    <!--Deny Button -->
                    <button class="btn btn-secondary cancel" type="button" data-dismiss="modal">Cancel</button>
                    <!-- Confirm button -->
                    <button class="btn btn-success" type="submit" form="downloadForm">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>
