<!--Bootstrap modal, it will show up if user will click download button-->
{% include 'work_page.html' %}
<div id="downloadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Title of modal -->
                <h5 id="exampleModalLabel" class="modal-title">Download Confirmation</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="cancel" aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="downloadForm" action="{{ url_for('download',file_name=file_name) }}" method="POST">
                <div class="modal-body">
                <h2>Choose format of file</h2><br>
                <!-- Data about data formats showed in table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <!-- Titles of columns -->
                        <th scope="col">Format</th>
                        <th scope="col">Size</th>
                        <th scope="col">Vector?</th>
                        <th scope="col">Pick format</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">JPG</th>
                        <td>{{ file_sizes[0] }}</td>
                        <td>No</td>
                        <th scope="col">
                            <div class="form-check">
                                <input id="formatJPG" class="form-check-input" type="radio" name="format" value="jpg" required>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">PNG</th>
                        <td>{{ file_sizes[1] }}</td>
                        <td>Yes</td>
                        <th scope="col">
                            <div class="form-check">
                                <input id="formatPNG" class="form-check-input" type="radio" name="format" value="png" required>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">TIFF</th>
                        <td>{{ file_sizes[2] }}</td>
                        <td>No</td>
                        <th scope="col">
                            <div class="form-check">
                                <input id="formatTIFF" class="form-check-input" type="radio" name="format" value="tiff" required>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">GIF</th>
                        <td>{{ file_sizes[3] }}</td>
                        <td>No</td>
                        <th scope="col">
                            <div class="form-check">
                                <input id="formatGIF" class="form-check-input" type="radio" name="format" value="gif" required>
                            </div>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
                <!-- Buttons of modal -->
                <div class="modal-footer">
                    <!--Deny Button -->
                    <button class="btn btn-secondary cancel" type="button" data-dismiss="modal">Cancel</button>
                    <!-- Confirm button -->
                    <button class="btn btn-success" type="submit" form="downloadForm">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>
