{% extends '/base.html' %}
{% from 'macros.html' import display_buttons,display_buttons_color  %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center" style="height:700px; flex-direction:column">

        <div>
            <a class="btn btn-outline-success p-3 width-200" href="{{ url_for('index') }}" role="button">Save changes</a>
            <a class="btn btn-outline-danger p-3 width-200" href="{{ url_for('index') }}" role="button">Exit</a>
        </div>
        <div class="mt-4" id="toolbox">
            <button id="buttonClear"></button>
            <input class="toolbox_numer" id="size" type="number" value="10"/>
            <input class="toolbox_color" id="color_tool" type="color"/>
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <canvas id="canvas" class="image-container"></canvas>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">{% include "js_script.js" %}</script>
    <script type="text/javascript">{% include "draw_mode_scripts.js" %}</script>
{% endblock %}