<!-- Header -->
<header>
  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url({{ url_for('static',filename='header.png') }});">
    <div class="mask" id="mask_header">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <!-- Text on header -->
          <h1 class="mb-3">Photo editor crazy</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="profile_button">
    <a href="{{ url_for('profile', user_nick=session.get('user')) }}">
      <img src="{{ url_for('static', filename='/icons/profile_enter_icon.png') }}">
    </a>
  </div>
</header>