{% extends '/base.html' %}

{% block content%}
    <div id="form_part" class="mb-3 d-flex justify-content-center">
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data" >
            {{form.csrf_token}}

            {{form.cover.label}}<br/>{{form.cover}}
            <ul>
                {% for error in form.cover.errors %}
                    {{ error }}
                {% endfor %}
            </ul>

            <input class="btn btn-outline-primary" type="submit" value="Go!">
        </form>
    </div>
{% endblock%}