{% extends '/base.html' %}

{% block content%}
    <div class="mb-3 d-flex flex-column form_part">
        <!-- Form where user gives data-->
        <form class='d-flex mx-auto flex-column'
              method="POST" action="{{ url_for('login') }}" enctype="multipart/form-data" >
            {{form.csrf_token}}

            <!-- Login -->
            <div class="mx-auto">
                {{form.name.label}} </br> {{form.name}}</br>
                {{form.password.label}} </br> {{form.password}}
            </div>

            <!-- Submit button -->
            <div class="mx-auto mt-2">
                <input class="btn btn-outline-primary" type="submit" value="Go!">
            </div>
        </form>

        <!-- Text with link to register -->
        <div class='mx-auto'>
            You don't have account? Click <a href="{{ url_for('register') }}">here</a> to register.
        </div>
    </div>
{% endblock%}