{% macro display_buttons(file_name, url_list,display_list)%}
    <!--list with filter option-->
    <ul class="button_list">
        {% for i in range(0,url_list|length)%}
            <li class="p-2">
                <a class="btn btn-outline-primary p-3 width-200" onclick="deleteCookie('Color_buttons')"
                   href="{{ url_for(  url_list[i]   ,file_name=file_name) }}" role="button">
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


{% macro display_buttons_color(file_name, url, display_list,color,color_style)%}
    <!--list with color option-->
    <ul class="position button_list">
        {% for i in range(0,display_list|length)%}
            <li class="p-2">
                <a class="btn btn-outline-primary p-3 width-200" id="color_id{{ i }}"
                   href="{{ url_for(  url   ,file_name=file_name,color=color[i]) }}" onclick="scroll_rem({{ i }}); color_button({{ i }});" role="button">
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}