<!-- Macro for displaying button with filters -->
{% macro display_buttons(file_name, url_list, display_list) %}
    <ul class='position_filter button_list'>
        <!-- Displaying every given button by for -->
        {% for i in range(0, url_list|length) %}
            <li class='p-2'>
                <a id='{{ url_list[i] }}' class='btn btn-outline-primary p-3 width-200' role='button'
                   href='{{ url_for(  url_list[i]   ,file_name=file_name) }}'
                   onclick='deleteCookie("colorButtons");'>
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


<!-- Macro for displaying button with color filters -->
{% macro display_buttons_color(file_name, url, display_list,color,color_style)%}
    <ul class='position_color button_list'>
        <!-- Displaying every given button by for -->
        {% for i in range(0, display_list|length) %}
            <li class='p-2'>
                <a id='colorId{{ i }}' class='btn btn-outline-primary p-3 width-200' role='button'
                   href='{{ url_for(  url   ,file_name=file_name,color=color[i]) }}'
                   onclick='colorButton({{ i }});'>
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


<!-- Macro for displaying column names of table -->
{% macro display_table_column(column_names, data) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <!-- Titles of columns -->
            {% for i in range(0, column_names|length) %}
                <th scope="col">{{ column_names[i] }}</th>
            {% endfor %}
        </tr>
        </thead>

        <!-- Displaying data by macro display_table_content -->
        {{ display_table_content(data) }}
    </table>
{% endmacro %}


<!-- Macro for displaying data of table -->
{% macro display_table_content(data) %}
    <tbody>
        {% for row in data %}
            <tr>
                <th scope="row">{{ row[0] }}</th>
                <td>{{ row[2] }}</td>
                <td>{{ row[1] }}</td>
                <th scope="col"/>
                <!-- Input for form -->
                <div class="form-check">
                <input id="{{ 'format' + row[0] }}" class="form-check-input" type="radio" name="format" value="{{ row[0].lower() }}" required>
                </div>
                </th>
            </tr>
        {% endfor %}
    </tbody>
{% endmacro %}


<!-- Generate window for confirmation of action -->
{% macro confirmWindow(title, text, positive_answer, negative_answer,file_name, file_name_arg) %}
    <div id="confirmModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content cancel">
            <div class="modal-header">
                <!-- Title of modal -->
                <h5 class="modal-title">{{ title }}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="cancel" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Text that show up in modal -->
                <p>{{ text }}</p>
            </div>
            <div class="modal-footer">
                <!-- Buttons in modal -->
                <!-- Confirm button -->

                <a class="btn btn-danger" onclick="deleteCookie('colorButtons')"
                   href="{{ url_for(positive_answer['link'], file_name=file_name_arg) }}">{{ positive_answer['text'] }}</a>
                <!-- Deny button -->
                <a class="btn btn-secondary cancel"
                   href="{{ url_for('index') }}">{{ negative_answer['text'] }}</a>


            </div>
        </div>
    </div>
</div>
{% endmacro %}


<!-- Macro to show all flashed messaged -->
{% macro show_all_flash_message()%}
    {% for message in get_flashed_messages() %}
        {{ show_flash_message(message) }}
    {% endfor %}
{% endmacro %}
<!-- Format of displaying flash message -->
{% macro show_flash_message(message)%}
<div class='d-flex justify-content-center'>
    <div class="alert alert-warning alert-dismissible fade show w-50" role='alert'>
        {{message}}
        <button type='button' class='btn-close' aria-label='Close' data-dismiss='alert'></button>
    </div>
</div>
{% endmacro %}


<!-- Macro for displaying images saved on server -->
{% macro show_images(image_list,path_to_dir) %}
    {% for i in image_list %}
        <div class='image_content'>
            <a href="{{ url_for('history_restore_confirm' ,file_name=i.file_name) }}">
                <img class='mini_img'
                     src="{{ url_for('static', filename=path_to_dir+ '/' + i.file_name )}}">
            </a>
            <!-- Showing name of file if file_name have less than 10 syntax
            if he doesn't fulfil condition only 5 first and 5 last syntax will be shown-->

            {% if i.file_name|length < 10 %}
                {{ i.file_name }}
            {% else %}
                {{ i.file_name[:5] + '...'+ i.file_name[-5:] }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}