<!-- Macro for displaying button with filters -->
{% macro display_buttons(file_name, url_list,display_list) %}
    <ul class='button_list'>
        <!-- Displaying every given button by for -->
        {% for i in range(0, url_list|length) %}
            <li class='p-2'>
                <a class='btn btn-outline-primary p-3 width-200' role='button'
                   href='{{ url_for(  url_list[i]   ,file_name=file_name) }}'
                   onclick='deleteCookie("colorButtons");'>
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<!-- Macro for displaying button with color filters -->
{% macro display_buttons_color(file_name, url, display_list,color,color_style)%}
    <ul class='position button_list'>
        <!-- Displaying every given button by for -->
        {% for i in range(0, display_list|length) %}
            <li class='p-2'>
                <a id='colorId{{ i }}' class='btn btn-outline-primary p-3 width-200' role='button'
                   href='{{ url_for(  url   ,file_name=file_name,color=color[i]) }}'
                   onclick='colorButton({{ i }});'>
                    {{ display_list[i] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


<!-- Macro for displaying column names of table -->
{% macro display_table_column(column_names, data) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <!-- Titles of columns -->
            {% for i in range(0, column_names|length) %}
                <th scope="col">{{ column_names[i] }}</th>
            {% endfor %}
        </tr>
        </thead>

        <!-- Displaying data by macro display_table_content -->
        {{ display_table_content(data) }}
    </table>
{% endmacro %}

<!-- Macro for displaying data of table -->
{% macro display_table_content(data) %}
    <tbody>
        {% for row in data %}
            <tr>
                <th scope="row">{{ row[0] }}</th>
                <td>{{ row[2] }}</td>
                <td>{{ row[1] }}</td>
                <th scope="col"/>
                <!-- Input for form -->
                <div class="form-check">
                <input id="{{ 'format' + row[0] }}" class="form-check-input" type="radio" name="format" value="{{ row[0].lower() }}" required>
                </div>
                </th>
            </tr>
        {% endfor %}
    </tbody>
{% endmacro %}