{% extends '/base.html' %}
{% from 'macros.html' import display_buttons,display_buttons_color  %}




{% block content %}



    <div class="d-flex justify-content-center align-items-center" style="height:700px; flex-direction:column">
        <div>
            <a class="btn btn-outline-danger p-3" style="width: 200px;" href="{{ url_for('img_change') }}" role="button">Change image</a>
            <a class="btn btn-outline-primary p-3" style="width: 200px;" href="{{ url_for('img_reset',file_name=file_name) }}" role="button">Reset</a>
        </div>
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <!--filters-->
            <div>
                <div><!--color options-->
                {{ display_buttons(file_name,
                    ('bw_filter','rbw_filter','con_filter','blur_filter','emb_filter'),
                    ('Black & white','Real Black & white','Contour','Blur','Emboss')) }}
                </div>
            </div>

            <!--image-->
            <img style="height:512px; padding:10px;" src="{{url_for('static',filename='download/modified/'+file_name)}}">

            <div><!--color options-->
                {{ display_buttons_color(file_name, 'only_color',

                ('Only purple colors','Only pink colors','Only red colors',
                'Only orange colors','Only yellow colors', 'Only green colors',
                'Only blue colors','Only white colors'),


                ([150,100,100, 174,255,255],[130,100,100, 150,255,255],[119,100,100, 129,255,255],
                [100,50,50, 118,255,255], [91,50,50, 99,255,255],[40,50,50, 90,255,255],
                [0,50,50, 38,255,255], [0,0,0, 180,25,230]))}}




            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function setCookie(name, value, daysToLive){
            const date = new Date();
            date.setTime(date.getTime() + daysToLive * 24 * 60 * 60 * 1000);
            let expires = "expires=" + date.toUTCString();

            document.cookie = `${name}=${value}; ${expires}; path=/`;
        }

        function deleteCookie(name){
            setCookie(name,null,null);
        }

        function getCookie(name){
            const cDecoded = decodeURIComponent(document.cookie);
            const cArray = cDecoded.split('; ');
            let result = null;

            cArray.forEach(element => {
                if(element.indexOf(name) == 0){
                    result = element.substring(name.length + 1)
                }
            })
            return result;
        }

        function scroll_rem(child){
            position_of_scroll = $(".position").scrollTop();
            setCookie('position_cookie',position_of_scroll,1);
        }


        function color_button(id){
            cookie = getCookie('Color_buttons');

            if (cookie === null || cookie.length < 0){
                setCookie('Color_buttons','Id:',1);
            } else{
                if(cookie.includes(id)){
                    if (cookie.length === 5){
                        deleteCookie('Color_buttons');
                    }else{
                        cookie = cookie.replace(id,'');
                        setCookie('Color_buttons',cookie,1);
                    }
                }else{
                    cookie = cookie +' ' +id;
                    setCookie('Color_buttons',cookie,1);
                }
            }
        }

        $("#color_id0").on("click", () =>{
            $("#color_id0").css({
                background: "black"
            });
        })

        $(".position").scrollTop(getCookie('position_cookie'));

        list_of_color = ['#9c31bd','#eb98d7','#cf0e27','#fa8c16','#ebf227','#28c916','#1ea1e3','#c0cbd1']

        cookie = getCookie('Color_buttons');
        console.log(cookie);

        for (let i = 0; i < (list_of_color.length); i++) {
            console.log('a');

            if (cookie !== null && cookie.includes(i)){
                color_id = '#color_id' + i;
                $(color_id).css({"background": list_of_color[i]});
                $(color_id).css({"border-color": list_of_color[i]});
                $(color_id).css({"color": "white"});
            }
        }


    </script>


{% endblock %}