{% extends '/base.html' %}
{% from 'macros.html' import show_images_full  %}


{% block content %}
    <!-- Css with individuals styles for profile_user.html -->
    <link type='text/css' rel='stylesheet' href='{{ url_for("static", filename="profile_user.css") }}'>

    <!-- Container to cut sides from page -->
    <div id='wrapper'>
        <!-- Profile content -->
        <div id='profile_content'>
            <!-- Upper part of profile (above images container)) -->
            <div class='d-flex flex-row justify-content-between'>

                <!-- Profile -->
                <div>
                    <div id='profile_picture_container' >
                        <!-- Button to change profile (hidden on start) -->
                        <div id='change_profile_button'>
                            <a href='{{ url_for("change_profile", user_nick=user_nick) }}'>
                                <img class='change_button_img'
                                     src='{{ url_for("static", filename="icons/change_image_icon.png") }}'>
                            </a>
                        </div>

                        <!-- Profile picture -->
                        <img id='profile_picture'
                             src='{{ url_for("static", filename=profile_pic) }}'>
                    </div>
                    <!-- Nick displaying below profile picture -->
                    <div id='nick_display'>
                        <span id='span_nick'>{{ user_nick }}</span>
                    </div>
                </div>

                <!-- Button to go to index -->
                <div id='go_index_button'>
                    <a class='btn btn-primary' href='{{url_for("index")}}'>Go back to main page</a>
                </div>
            </div>
            <!-- Images of user saved in his dir -->
            <div id='pictures_container'>

                <!-- Checking if user have access to display images -->
                {% if data_img %}
                <!-- Displaying images -->
                <div class="grid-container">
                    {{ show_images_full(data_img,path_to_dir) }}
                </div>
                {% else %}
                    <!-- Displaying info if user don't have access to images -->
                    <div id='info_access'>
                        You don't have any saved images or you don't have access to see
                    </div>
                {% endif %}
            </div>
        </div>
    </div>




    <!-- Js scripts -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- Main js script -->
    <script type="text/javascript">{% include "js/profile_script.js" %}</script>
{% endblock %}